
<div id="container" >
  
      <table  class="table table-hover table-bordered" >
        <thead class="table-success text-center">
            <tr>
                <th class="text-light bg-info">Draw</th>
                <th class="text-light bg-info">Date</th>
                {% for num in range(1, lotto['number_range']+1) %}
                <th class="text-warning bg-success">{{num}}</th>
                {% endfor %}        
            </tr>
        </thead>    
        <tbody class="fw-bold">     
          <div >
  
            {% for i in range(lotto['draw_numbers_count']) %}
            <tr>             
                <td class="text-warning bg-primary">{{lotto['draw_numbers'][0]}}</td>
                <td class="text-warning bg-success">{{lotto['draw_date'][i]}}</td>
  
                {% for number in lotto['numbers'][i]%}    
                  {% if number['isHit'] == True %}
                        <td class="bg-greenyellow">  
                          <span class="text-success"> {{number['value']}}</span> <br>                                    
                          (<span class="text-danger fst-italic">{{number['numberofDrawsWhenHit']}}</span>) <br> <span class="text-info fst-italic">{{number['totalHits']}}</span>
                        </td>        
                  {% else %}
                  <td> <span class="text-info ">{{number['value']}}</span> <br> <span class="text-success fst-italic"> {{number['distance']}}</span> <br><span class="my-color-1 fst-italic"> {{number['totalHits']}}</span> </td>
                  {% endif %}
                {% endfor %}  
            </tr>
            {% endfor %}
          </div>
        </tbody>
      </table> 
</div>
