
<div id="content" >
    <table class="table table-striped table-hover table-bordered" >
      <thead class="table-success text-center">
          <tr>
              <th class="text-light bg-info">Draw</th>
              <th class="text-light bg-info">Date</th>
              {% for num in range(1, lotto['number_range']+1) %}
              <th class="text-warning bg-success">{{num}}</th>
              {% endfor %}        
          </tr>
      </thead>
  
      <tbody>     
        <div >

          {% for i in range(lotto['draw_numbers_count']) %}
          <tr>             
              <td>{{lotto['draw_numbers'][0]}}</td>
              <td class="my-color-2 bg-greenyellow">{{lotto['draw_date'][i]}}</td>

              {% for number in lotto['numbers'][i]%}                
              <td> {{number['value']}} <br> {{number['distance']}} <br> {{number['totalHits']}} </td>         
              {% endfor %}  
          </tr>
          {% endfor %}
        </div>
      </tbody>
    </table> 
</div>
